.body-small-print {
    width: 57mm;
    padding: 1mm 1mm 1mm 0;
}

.heading-hr {
    margin: 10px 5px;
}

.bill-head-desc {}

.bill-head-desc .half {
    width: 50%;
    float: left;
}

.bold {
    font-weight: bold;
}

.bill-desc {}

.bill-desc .half {
    width: 50%;
    float: left;
}

.tr {
    text-align: right;
}

hr {
    border-color: #d2d2d2;
}

.fl {
    float: left;
}

.fr {
    float: right;
}